.config {
  display: flex;
  flex-direction: column;
  height: 100%;
  @media screen and (min-width: 770px) {
    flex-direction: row;
  }

  &-display {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    pointer-events: none;
    @media screen and (min-width: 770px) {
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(2, 1fr);
      display: flex;
      flex-direction: column;
    }
    &-sensor,
    &-map {
      height: 11rem;
      margin: 0;
      max-width: 15rem;
      @media screen and (min-width: 770px) {
        width: 100%;
        width: 25rem;
        max-width: 25rem;
      }
    }

    &-sensor {
    }
    &-map {
      position: relative;
      overflow: hidden;
      border: 1px solid silver;
      border-radius: 0.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      @media screen and (min-width: 770px) {
        height: 100%;
        max-width: 25rem;
      }
      img {
        position: absolute;
        width: 150%;
      }
    }
  }

  &-options {
    margin-left: 1rem;
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
    padding-right: 1rem;
    &-title {
      font-size: 2rem;
      margin-bottom: 1.5rem;
    }
    .option {
      margin-bottom: 1.5rem;
      border-bottom: 1px solid silver;
      padding-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
      &-title {
        font-size: 1rem;
        margin-bottom: 1rem;
      }
      &-selections {
        &-item {
          $size: 1.5rem;
          display: flex;
          align-items: center;
          margin-bottom: 1rem;
          &:last-child {
            margin-bottom: 0;
          }
          &-label {
            width: 5rem;
            font-size: 1rem;
            font-weight: 100;
            padding-left: 1rem;
          }
          input {
            display: none;
            & + label {
              width: calc($size * 3);
              height: calc($size + calc($size / 3));
              position: relative;
              display: flex;
              justify-content: space-between;
              margin: auto;
              padding: calc($size / 6);
              border-radius: $size;
              background: $color_yellow;
              position: relative;
              &:after {
                content: "";
                width: $size;
                height: $size;
                border-radius: $size;
                background: $color_red;
                position: absolute;
              }
              .selection-label {
                width: $size;
                height: $size;
                padding: calc($size / 8);
                color: $color_red;
                border-radius: $size;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
            &:checked {
              & + label {
                &:after {
                  margin-left: calc(100% - $size - 0.5rem);
                }
              }
            }
          }
        }
      }
    }
  }
}
