.config {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 1rem;
  @media screen and (min-width: 770px) {
    display: flex;
    flex-direction: row;
  }
  div {
    flex: 1;
    .card-sensor {
      margin: 0;
    }
  }

  &-item {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .5rem;
    .units {
      $size: 1.5rem;
      border: none;
      display: flex;
      align-items: center;
      input {
        display: none;
        & + label {
          margin: 0 calc($size / 4);
          display: block;
          background: silver;
          height: $size;
          width: $size * 2;
          overflow: hidden;
          border-radius: $size;
          padding: calc($size / 8);
          &:after {
            content: "";
            display: block;
            width: $size;
            height: $size;
            border-radius: $size;
            background: grey;
          }
        }
        &:checked {
          & + label {
            &:after {
              margin-left: $size;
            }
          }
        }
      }
    }

  }

}
