.config {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(24rem, 1fr));
  grid-gap: 1rem;
  margin-right: 1rem;
  @media screen and (min-width: 770px) {
    display: flex;
    flex-direction: row;
    margin-right: 0;
  }
  .display {
    flex: 1;
    max-width: 24rem;
    .card-sensor {
      margin: 0;
      margin-bottom:1rem;
    }
  }

  &-lang, &-map-item {
    $size: 1.5rem;
    margin: 1rem 0;
    width: 100%;
    display:flex;
    font-size: .8rem;
    align-items: center;;
    input[type="radio"] {
      display:none;
      &+label {
        width:70%;
        position: relative;
        display: flex;
        margin:auto;
        padding: calc($size / 8);
        padding-left: $size;
        border-radius: $size;
        background: silver;
        justify-content: center;
        align-items: center;
        &:after {
          content:"";
          width: $size;
          height: $size;
          margin-left:auto;
          border-radius: $size;
        }
      }
      &:checked {
        &+label {
          &:after {
            background:grey;
          }
        }
      }
    }
  }

  &-item {
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .5rem;
    font-size: .8rem;
    .units {
      $size: 1.5rem;
      border: none;
      display: flex;
      align-items: center;
      input {
        display: none;
        & + label {
          margin: 0 calc($size / 4);
          display: block;
          background: silver;
          height: $size;
          width: $size * 2;
          overflow: hidden;
          border-radius: $size;
          padding: calc($size / 8);
          &:after {
            content: "";
            display: block;
            width: $size;
            height: $size;
            border-radius: $size;
            background: grey;
          }
        }
        &:checked {
          & + label {
            &:after {
              margin-left: $size;
            }
          }
        }
      }
    }

  }

  &-map {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
    @media screen and (min-width: 770px) {
    }
  }

}
